:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --btn-color: #f5f4fa;
  --primary-btn-text-color: #ffffff;
  --secondary-btn-text-color: #212121;
  --primary-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-background-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body .accent-text {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*----------- HEADER ---------*/
.header {
  border: 1px solid #ececec;
}

.header-content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: #000000;
}

.nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;

  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts-link {
  color: inherit;
}

/*----------- HERO ---------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--secondary-background-color);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-btn-text-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*----------- FEATURES ---------*/

.features-list {
  display: flex;
  margin-left: calc(-1 * var(--primary-gap));
  margin-top: calc(-1 * var(--primary-gap));
}

.features-list-item {
  flex-basis: calc(100% / 4 - var(--primary-gap));
  margin-left: var(--primary-gap);
  margin-top: var(--primary-gap);
}
.features-list-title {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*----------- ABOUT ---------*/
.about {
  padding-top: 0;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

/*----------- TEAM ---------*/
.team {
  background-color: var(--third-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-gap));
  margin-top: calc(-1 * var(--primary-gap));
}

.team-list-item {
  flex-basis: calc(100% / 4 - var(--primary-gap));
  margin-left: var(--primary-gap);
  margin-top: var(--primary-gap);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--primary-background-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-title {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 500;
}

.team-list-descr {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
/*----------- WORKS ---------*/

.works-btn {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: var(--secondary-btn-text-color);
  background-color: var(--btn-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.works-btn:hover,
.works-btn:focus {
  color: var(--primary-btn-text-color);
  background-color: var(--accent-color);
}

.btn-active {
  color: var(--primary-btn-text-color);
  background-color: var(--accent-color);
}

.works-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-btn-item:not(:last-child) {
  margin-right: 8px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-gap));
  margin-top: calc(-1 * var(--primary-gap));
}
.works-list-item {
  flex-basis: calc(100% / 3 - var(--primary-gap));
  margin-left: var(--primary-gap);
  margin-top: var(--primary-gap);
}

.works-list-descr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.works-list-title {
  margin-bottom: 4px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*----------- FOOTER ---------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-adress {
  margin-bottom: 9px;
}
.footer-adress-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
